.container {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .control {
    color: #fff;
    font-size: 24px;
    min-width: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
  }

  .items {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    flex: 1;

    .scroll {
      display: flex;
      flex: 1 1 auto;
      height: 75%;
      justify-content: center;
      .item {
        border: 2px solid transparent;
        margin: 0 1vw;
        display: flex;
        cursor: pointer;


        &.active {
          border-color: #fff;
        }

        img {
          width: 100%;
          object-fit: contain;
          cursor: pointer;
        }
      }
    }

  }
}


@media only screen and (min-width: 600px) {
  .container .items .scroll {
    height: 75%;
  }
}
